
.btn-confirm {
	background-color: #5da1ec;
	border-radius: 4px;
	color: white;
	text-align: center;
	height: 0.3rem;
    margin-top: 0.7rem;
}

.landFatherContainer {
	background-color: white;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 99;
	position: absolute;
	width: 100%;
}

.titleLand {
	border-bottom: 1px solid #ccc;
	height: 38px;
	position: relative;
	text-align: center;
	line-height: 38px;
	margin-bottom: 20px;
	font-size: 16px;
	background: #fff;
}

.landBack {
	left: 0.1rem;
	display: inline-block;
	position: absolute;
	width: 50px;
	height: 38px;
	background-size: cover;
	text-align: left;
	top: 0px;
}

.landBack span {
	background-image: url(../../common/img/fanhui@2x.png);
	width: 0.09rem;
	height: 0.15rem;
	background-size: cover;
	display: inline-block;
}
.form-group {
	position: relative;
}
.pass-eyes{
	position: absolute;
    display: inline-block;
    background: url(../img/yan@2x.png) no-repeat;
    width: 0.32rem;
    height: 0.18rem;
    right: 0.2rem;
    top: 0.08rem;
}
#phoneMsg,
#passwordMsg {
	color: #8495b9;
	width: 90%;
	display: block;
	padding-left: 0.1rem;
}
nav.nav {
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    height: 0.3rem;
    margin-bottom: 0.2rem;
    background: #fff;
    text-align: center;
    position: relative;
}
nav.nav i {
	width: 0.25rem;
	height: 0.25rem;
	display: inline-block;
	background: url(../../common/img/fanhui@2x.png) no-repeat center center;
	background-size: 0.14rem 0.18rem;
    position: absolute;
    left: 0.15rem;
    top: 0.02rem;
}
nav.nav h4,
nav.nav h5 {
	display: inline-block;
	position: absolute;
	top: 0.08rem;
}
nav.nav h4 {
	left: 1.45rem;
}
nav.nav h5 {
	right: 0.2rem;
}
.phoneNum {
    width: 100%;
    height: 0.3rem;
    text-align: center;
}
.phoneNum a {
	color: #333;
}
.code {
    position: absolute;
    top: 0.03rem;
    right: 0.1rem;
    border: 1px solid #ccc;
    outline: none;
}
#register {
	margin-top: 0.8rem;
}
#phone{
	width: 95%;
	margin: 0.1rem auto;
}
#password{
	width: 95%;
	margin: 0.1rem auto;
}
#login{
	width: 95%;
	margin: 0.1rem auto;
	margin-top: 0.8rem;
	background-color: #5da0ec;
	box-shadow: 0 2px 3px 2px #ccc;
}
.twoChoic{
	width: 95%;
	height: auto;
	margin: auto;
}
.twoChoic #forgetPassword{
	float: right;
}
.twoChoic #quickLogin{
	float: left;
}
.input-group{
	width: 95%;
	margin: auto;
}
#checkbox{
	width: 95%;
	padding-left: 0.1rem;
}
#checkbox a{
	color:#5da0ec;
}
#getCode{
	background-color:#5da0ec ;
	color:#fff;
}
#register{
	width: 95%;
	margin: 0.1rem auto;
	margin-top: 0.8rem;
	background-color: #5da0ec;
	box-shadow: 0 2px 3px 2px #ccc;
}
